{% extends 'base.html' %}

{% block title %}Requests history{% endblock %}

{% block content %}
<h1>Editors ip history</h1>
<hr>


<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>User id</th>
            <th>ip</th>
            <th>edit time</th>
        </tr>
        </thead>
        <tbody>
        {% for log in object_list %}
        <tr>
            <td>{{ log.id }}</td>
            <td>{{ log.user_id }}</td>
            <td>{{ log.user_ip }}</td>
            <td>{{ log.created }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if is_paginated %}
    {% include 'includes/pagination.html' %}
{% endif %}
{% endblock %}