{% extends 'base.html' %}
{% load tags %}
{% block title %}My Profile{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h1>Profile info</h1>
</br>

<p><b>User id: </b>{{ user.id }}</p>
<p><b>Username: </b>{{ user.username }}</p>
<p><b>Email: </b>{{ user.email }}</p>
<p><b>User id: </b>{{ user.id }}</p>
</br>
<a href="{% url_to_edit_object user %}">Edit profile in Admin panel</a>
{% else %}
<div class="alert alert-warning" role="alert">Please Sign In</div>
{% endif %}
{% endblock %}