{% extends 'base.html' %}

{% block title %}Signals history{% endblock %}

{% block content %}
<h1>Signals history</h1>
<hr>


<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>Description</th>
            <th>created</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.description }}</td>
            <td>{{ obj.created }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if is_paginated %}
    {% include 'includes/pagination.html' %}
{% endif %}
{% endblock %}